
<br/>
    <h2>Товары</h2>
    <h3>@Model.CurrModel</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (Product moto in Model.AllMoto)
            {
                @Html.Partial("AllMoto",moto)
                
            }
        }
    </div>